/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Cardo', serif;*/
/*font-family: 'Raleway', sans-serif;*/
body{
}
/*header start*/
header{
    background: linear-gradient(rgba(48, 52, 78, 0.9), rgba(48, 52, 78, 0.9)) ,url(../images/backg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.cl{
	border-bottom: 1px solid #ccccd3;
}
.menu ul li a{
	padding: 0 30px !important;
	font-size: 13px;
	font-weight: 400;
	color: #ffffff !important;
	text-transform: uppercase;
	transition: .5s;
}
.menu ul li:last-child a{
	padding-right: 0 !important;
}
.menu ul li a:hover{
	color: red !important;
}
.txt{
	padding: 150px 0;
}
.txt h1{
	padding-bottom: 30px !important;
	font-family: 'Open Sans', sans-serif;
	font-size: 65px;
	font-weight: 700;
	color: #ffffff !important;
	text-transform: uppercase;
}
.txt p{
	padding-bottom: 50px !important;
	font-size: 22px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #ffffff !important;
}
.btn-submit{
	width: 200px;
	height: 50px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	background-color: #e84545;
	color: #ffffff;
	transition: .3s linear;
	-webkit-transition: .3s linear;
	--moz-transition: .3s linear;
	text-transform: uppercase;
}
.btn-submit:hover{
	background-color: red;
}
/*header end*/

/*feature start */
.feature{
	margin: 100px 0 30px;
}
.single{
	margin-bottom: 50px;
}
.srv-text{
	margin-top: 10px;
}
.srv-text i{
	font-size: 30px;
	color: #e84646;
	padding-bottom: 25px;
}
.srv-text h2{
	font-size: 16px !important;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: #3b3e41;
	text-transform: uppercase;
}
.srv-text p{
	font-size: 13px !important;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: #6c7279;
	margin-bottom: 0;
}
/*feature end */

/*work start*/
.work{
	margin-bottom: 50px;
}
.w img{
	width: 118%;
	padding: 1px !important;
}
/*work end*/
/*team start*/
.team{
	margin-top: 50px;
}

.t-c img{
	width: 100%;
}
.t-c h1{
	font-size: 22px ;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
.t-c h6{
	font-size: 13px;
	color: #e84646;
	text-transform: uppercase;
}
.t-c p{	
	font-size: 14px !important;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
.t-c ul{
	margin-bottom: 80px;
}
.t-c ul li{
	padding: 4px 10px;
	border-radius: 2px;
	border: 1px solid #e8ecee;
}
.t-c ul li a{
	color: #c6cacc;
}
.t-c ul li a:hover{
	color: white !important;
}
/*team end*/

/*clients start*/
.w-i img{
	width: 102%;
	height: 500px;
}
.c-b{
	padding: 100px 0 100px 80px;
	background-color: #53354a;
}
.c h3{
	font-family: 'Cardo', serif;
	font-size: 36px;
	color: #ffffff;
	line-height: 45px;
}
.c p{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 13px;
	color: #ffffff;
	text-transform: uppercase;
	padding-bottom: 70px;
}
.c-b li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
/*clients end*/

/*download start*/
.txt1{
	padding: 100px 0;
}
.txt1 h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	font-weight: 400;
	color: #010101 !important;
}
.txt1 p{
	padding-bottom: 30px !important;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #010101 !important;
	text-transform: uppercase;
}
/*download start*/

/*footer start*/
.footer{
	background: linear-gradient(rgba(48, 52, 78, 0.9), rgba(48, 52, 78, 0.9));
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0 100px;
}
.f-t h1{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 14px;
	color: #ffffff;
	text-transform: uppercase;
}
.f-t p{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #757893;
}
.f-t ul{
	/*margin-bottom: 80px;*/
}
.f-t ul li{
	padding: 4px 10px;
	border-radius: 2px;
	border: 1px solid #ffffff;
}
.f-t ul li a{
	color: #ffffff;
}
.f-t ul li a:hover{
	color: #3a3e64 !important;
}
/*footer end*/

/*copyright start*/
.copyright{
	background-color: #313454;
}
.cr{}
.cr p{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #757893;
}

/*copyright end*/
